.landing-page {
    color: var(--primary_Color);
    font-family: var(--font_family);
    background-color: var(--bg_Color);
    padding: 2rem;
}

/* Header/Navigation inside landing page */
.landing-page__navigation-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

@media screen and (max-width: 768px) {
    .landing-page__navigation-header {
        display: block;
    }

    .landing-page__intro-section {
        width: unset !important;
    }
}

.landing-page__logo-container {
    flex: 2;
}

.landing-page__nav-container {
    flex: 2;
    text-align: center;
}

.landing-page__navigation {
    padding: 0.5rem 0;
    border-radius: 1rem;
}

.landing-page__theme-switch-button {
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    background-color: var(--accent_Color);
    color: #fff;
    transition: background-color var(--transition);
}

.landing-page__theme-switch-button:hover {
    background-color: var(--accentHover_Color);
}

.landing-page__intro-section {
    text-align: center;
    width: 30%;
    margin: 5% auto;
}

.landing-page__logo-section {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}