.landing-page {
    min-height: 100vh;
    width: 100%;
    color: var(--primary-base);
}


.landing-page__header {
    display: flex;
    gap: 1rem;
    padding: 2rem;
    align-items: center;
    justify-content: center;
}