.app-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    isolation: isolate;
}

.app-layout::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -2;
    background: inherit;
    pointer-events: none;
}

.app-layout__main-content {
    flex: 1;
    position: relative;
    margin-inline: auto;
    border-radius: 1rem;
    padding-block: 2rem;
    backdrop-filter: blur(0.1rem);

    margin-block: 2rem;
    width: min(100% - 2rem, 39rem);
    box-sizing: border-box;
}

.app-layout__main-content::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 2;
    mask-image: linear-gradient(to bottom, transparent 0%, black 20%, black 80%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 20%, black 80%, transparent 100%);
    pointer-events: none;
}


.app-layout::after {
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0.2;
    z-index: -1;
    background-image: url('../../Assets/noise-texture.svg');
    pointer-events: none;
    border-radius: inherit;
}




@media (max-width: 768px) {

    .app-layout__main-content {
        margin-block: 1rem;
        border-radius: 0.5rem;
        padding-block: 1rem;
        width: min(100% - 1rem, 39rem);
    }


}